{% extends "layout.html" %} {% block title %} Graph {% endblock %} {% block main
%}
<div id="canvas">
  <div id="main" class="flex-col">
    <form action="/graph" method="post">
      <h1 class="m-1" id="title">Graph</h1>

      <div id="dataDiv" style="display: block">
        <div class="m-1">
          <label for="table" id="about">About Me:</label>
        </div>
        <textarea
          type="text"
          disabled
          id="table"
          name="table"
          class="m-1"
          rows="6"
          cols="35"
        >
- Useful for modeling complex relationships between data.&#13;&#10;- Modeling social networks, transportation systems, etc.&#13;&#10;- Can be challenging to implement, but provide a lot of flexibility and power.</textarea
        >
      </div>

      <div>
        <button
          id="csvButton"
          class="btn btn-outline-secondary dropdown-toggle m-1"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Select Dataset
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              id="csv_file"
              class="dropdown-item"
              href="#"
              onclick="loadCSV('sample_node_6.csv'), showDataField()"
              >sample_node_6</a
            >
          </li>
          <li>
            <a
              id="csv_file"
              class="dropdown-item"
              href="#"
              onclick="loadCSV('sample_node_18.csv'), showDataField()"
              >sample_node_18</a
            >
          </li>
          <li>
            <a
              id="csv_file"
              class="dropdown-item"
              href="#"
              onclick="loadCSV('sample_node_finale.csv'), showDataField()"
              >sample_node_finale</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              onclick="showUploadField(), showDataField()"
              >Upload .csv</a
            >
          </li>
        </ul>
      </div>

      <button
        id="stopButton"
        class="btn btn-outline-secondary m-1"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        onclick="hideGoButton()"
        style="display: inline-block; margin-bottom: 10px"
      >
        Stop
      </button>
      <button
        id="goButton"
        type="submit"
        onclick="showStopField()"
        class="btn btn-outline-secondary"
        disabled
        style="display: inline-block"
      >
        GO!
      </button>

      <div id="uploadDiv" style="display: none">
        <input type="file" accept=".csv" id="csvfile" class="m-1" />
      </div>
    </form>
  </div>
</div>

<script src="/static/script.js"></script>
<script>
  // Intianlize Sizes
  const sizes = {
  width: window.innerWidth,
  height: window.innerHeight
  }
  
  // variables for cubes
  var x = ({{array|length}}* 1.5 /2  ) * -1;
  const cubes = [];
  const spheres = [];
  let rotation = 0.04;
  let rotatining  = true;

  // Variables for gibberish
  var x = 0;
  var y = 0;
  var counter = 0;
  var counter_2 = 0;
  var counter_3 = 0;
  var x_val = 0;
  var y_val = -2;

  // Loop through the array of items
  {% for item in array %}

    addNewSphere(scene, "{{item}}", "{{item}}", x, y);
    x+= 2;
    counter +=1;
    if(counter == 2)
    {
       y -= 1;
       counter = 0;
       counter_2 += 1;

    }
    if(counter_2 == 2)
    {
      counter_2 = 0;
      x = x_val;
      x_val += 1;
      counter_3 += 1;

    }
    if(counter_3 == 2)
    {
      counter_3 = -100;
      x = 1;
      y = 5;

    }
  {% endfor %}

  {% for row in connections %}

    drawArrows(spheres,[{{ row[0] }},{{ row[1] }}]);

  {% endfor %}



  // Resize window
  window.addEventListener('resize', () =>{
      console.log(window.innerWidth);
    sizes.width = window.innerWidth;
    sizes.height = window.innerHeight;


    camera.aspect = sizes.width / sizes.height;
    camera.updateProjectionMatrix;
    renderer.setSize(sizes.width, sizes.height);

  })

  // Initalize Animate Loop
  function animate() {
  requestAnimationFrame(animate);
  controls.update();

  for (let i = 0; i < spheres.length; i++) {
  spheres[i].rotation.y += rotation;}
  renderer.render(scene, camera);
  }

  // Stop/Start Animate Loop
  const stopButton = document.getElementById("stopButton");
  stopButton.addEventListener("click", function () {
  if(rotation == 0){
    rotation = .04;
    document.getElementById('stopButton').innerHTML = "Stop";
  }
  else{
    rotation = 0;
    document.getElementById('stopButton').innerHTML = "Start";
  }

  for (let i = 0; i < cubes.length; i++) {
  cubes[i].rotation.x = rotation;
  }
  });

  // Start the animation
  const requestID = requestAnimationFrame(animate);
</script>
{% endblock %}
