{% extends "layout.html" %}

{% block title %}
    Graph
{% endblock %}

{% block main %}
<div id="canvas"> 
  <div style="position: absolute; top: 20%; left: 2%; z-index: 1; justify-content: left;" class="flex-col">
    <form action="/graph" method="post">
      
      <h1 class="m-1" style="color: #DF740C; font-size: 60px; font-weight: 900;" >Graph</h1>
      
      <div id="dataDiv" style="display:block;">  
      <div class="m-1" ><label for="table"  id="about" style="background-color: transparent; color: #DF740C; text-align: left; margin-top: 0;">About Me:</label></div>
      <textarea type="text" disabled id="table" name="table" class="m-1" rows="6" cols="35" style="background-color: transparent; color: #DF740C; text-align: left; font-size: 14px; white-space: pre-wrap;">- Useful for modeling complex relationships between data.&#13;&#10;- Modeling social networks, transportation systems, etc.&#13;&#10;- Can be challenging to implement, but provide a lot of flexibility and power.</textarea> </div> 
      
      <div>        
        <button id="csvButton" class="btn btn-outline-secondary dropdown-toggle m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select Dataset</button>
        <ul class="dropdown-menu">
          <li><a id="csv_file" class="dropdown-item" href="#" onclick="loadCSV('sample_node_6.csv'), showDataField()">sample_node_6</a></li>
          <li><a id="csv_file" class="dropdown-item" href="#" onclick="loadCSV('sample_node_18.csv'), showDataField()">sample_node_18</a></li>
          <li><a id="csv_file" class="dropdown-item" href="#" onclick="loadCSV('sample_node_finale.csv'), showDataField()">sample_node_finale</a></li>    
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" onclick="showUploadField(), showDataField()">Upload .csv</a></li>
        </ul>
      </div>
      
      <button id="stopButton" class="btn btn-outline-secondary m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="hideGoButton()" style="display: inline-block; margin-bottom: 10px;">Stop</button>
      <button id="goButton" type="submit" onclick="showStopField()" class="btn btn-outline-secondary " disabled style="display: inline-block;">GO!</button>
     
      <div id="uploadDiv" style="display:none;">    
        <input type="file" accept=".csv" id="csvfile" class="m-1">
      </div>  
     
    </form>
    </div>
</div>


<script src="/static/script.js"></script>  
<script>

// Intianlize Sizes
const sizes = {
width: window.innerWidth,
height: window.innerHeight
}

// Initialize 3js Scene
const scene = new THREE.Scene(); 
const camera = new THREE.PerspectiveCamera(50, sizes.width / sizes.height, 0.1, 1000);
const renderer = new THREE.WebGLRenderer();

// Initalize 3js Controls
renderer.setSize(sizes.width, sizes.height);
document.getElementById("canvas").appendChild(renderer.domElement);
var controls = new THREE.TrackballControls(camera, renderer.domElement);
controls.rotateSpeed = 1.0;
controls.zoomSpeed = 1.2;
controls.panSpeed = 0.8;

// variables for cubes
var x = ({{array|length}}* 1.5 /2  ) * -1; 
const cubes = [];
const spheres = [];
let rotation = 0.04;
let rotatining  = true;

// Initialize 3js Background
const loader = new THREE.TextureLoader();
const bgtexture = loader.load('./static/bg_files/bg2.jpg.jpg');
scene.background = bgtexture;

// Initialize 3js Interaction
let mouseDown = false;
let selectedCube = null;
let lastMouseX = 0;
let lastMouseY = 0;

// Mousedown Raycaster to select cube
renderer.domElement.addEventListener('mousedown', (event) => {
mouseDown = true;
const raycaster = new THREE.Raycaster();
const mouse = new THREE.Vector2();
mouse.x = (event.clientX / sizes.width) * 2 - 1;
mouse.y = -(event.clientY / sizes.height) * 2 + 1;
raycaster.setFromCamera(mouse, camera);

// Filter out non-cube objects
const cubesI = scene.children.filter(obj => obj.userData.isCube); 
const intersects = raycaster.intersectObjects(cubesI, true);
if (intersects.length > 0) {
selectedCube = intersects[0].object.parent;
}
});

// Spin the cubes
renderer.domElement.addEventListener('mousemove', (event) => {
if (mouseDown && selectedCube !== null) {
const deltaX = event.clientX - lastMouseX;
const deltaY = event.clientY - lastMouseY;
const deltaRotationQuaternion = new THREE.Quaternion()
.setFromEuler(new THREE.Euler(deltaY * (Math.PI / 180),deltaX * (Math.PI / 180),0,'XYZ'));
selectedCube.quaternion.multiplyQuaternions(deltaRotationQuaternion, selectedCube.quaternion);
}
lastMouseX = event.clientX;
lastMouseY = event.clientY;
});

// Deselect Cube
renderer.domElement.addEventListener('mouseup', () => {
mouseDown = false;
selectedCube = null;
});


//Camera Position
camera.position.z = 10;



// Variables for gibberish
var x = 0;
var y = 0;
var counter = 0;
var counter_2 = 0;
var counter_3 = 0;
var x_val = 0;
var y_val = -2;

// Loop through the array of items
{% for item in array %}
  
  addNewSphere(scene, "{{item}}", "{{item}}", x, y);
  x+= 2;
  counter +=1;
  if(counter == 2)
  {
     y -= 1;
     counter = 0;
     counter_2 += 1;
     
  }
  if(counter_2 == 2)
  {
    counter_2 = 0;
    x = x_val;
    x_val += 1;
    counter_3 += 1;
   
  }
  if(counter_3 == 2)
  {
    counter_3 = -100;
    x = 1;
    y = 5;
    
  } 
{% endfor %}

{% for row in connections %}

  drawArrows(spheres,[{{ row[0] }},{{ row[1] }}]);
  
{% endfor %}



// Resize window
window.addEventListener('resize', () =>{
    console.log(window.innerWidth);
  sizes.width = window.innerWidth;
  sizes.height = window.innerHeight;

  
  camera.aspect = sizes.width / sizes.height;
  camera.updateProjectionMatrix;
  renderer.setSize(sizes.width, sizes.height);

})

// Initalize Animate Loop
function animate() {
requestAnimationFrame(animate);
controls.update();

for (let i = 0; i < spheres.length; i++) {
spheres[i].rotation.y += rotation;}
renderer.render(scene, camera);
}

// Stop/Start Animate Loop
const stopButton = document.getElementById("stopButton");
stopButton.addEventListener("click", function () {
if(rotation == 0){
  rotation = .04;
  document.getElementById('stopButton').innerHTML = "Stop";
}
else{
  rotation = 0;
  document.getElementById('stopButton').innerHTML = "Start";
}

for (let i = 0; i < cubes.length; i++) {
cubes[i].rotation.x = rotation;
} 
});

// Start the animation
const requestID = requestAnimationFrame(animate);

</script> 
{% endblock %}
