{% extends "layout.html" %} {% block title %} Grid {% endblock %} {% block main
%}

<div id="canvas">
  <div id="main" class="flex-col">
    <form action="/grid" method="post">
      <h1 class="m-1" id="title">2-D Grid</h1>
      <div id="dataDiv" style="display: block">
        <div class="m-1">
          <label for="table" id="about">About Me:</label>
        </div>
        <textarea
          type="text"
          id="table"
          name="table"
          disabled
          class="m-1"
          rows="4"
          cols="35"
        >
- Useful for two-dimensional data organization.&#13;&#10;- Fixed size can limit flexibility.&#13;&#10;- Accessing elements can be more complex than one-dimensional structures.</textarea
        >
      </div>

      <div>
        <button
          id="csvButton"
          class="btn btn-outline-secondary dropdown-toggle m-1"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Select Dataset
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              id="csv_file"
              class="dropdown-item"
              href="#"
              onclick="loadCSV('sample_2d_5.csv'), showDataField()"
              >sample_2d_5</a
            >
          </li>
          <li>
            <a
              id="csv_file"
              class="dropdown-item"
              href="#"
              onclick="loadCSV('sample_2d_10.csv'), showDataField()"
              >sample_2d_10</a
            >
          </li>
          <li>
            <a
              id="csv_file"
              class="dropdown-item"
              href="#"
              onclick="loadCSV('sample_2d_15.csv'), showDataField()"
              >sample_2d_15</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              onclick="showUploadField(), showDataField()"
              >Upload .csv</a
            >
          </li>
        </ul>
      </div>

      <button
        id="stopButton"
        class="btn btn-outline-secondary m-1"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        onclick="hideGoButton()"
        style="display: inline-block; margin-bottom: 10px"
      >
        Stop
      </button>
      <button
        id="goButton"
        type="submit"
        onclick="showStopField()"
        class="btn btn-outline-secondary"
        disabled
        style="display: inline-block"
      >
        GO!
      </button>

      <div id="uploadDiv" style="display: none">
        <input type="file" accept=".csv" id="csvfile" class="m-1" />
      </div>
    </form>
  </div>
</div>

<script src="/static/script.js"></script>
<script>
  // Initialize 3js Scene
  const scene = new THREE.Scene();
  const camera = new THREE.PerspectiveCamera(50, window.innerWidth / window.innerHeight, 0.1, 1000);
  const renderer = new THREE.WebGLRenderer();


  // Initalize 3js Controls
  renderer.setSize(window.innerWidth, window.innerHeight);
  document.getElementById("canvas").appendChild(renderer.domElement);
  var controls = new THREE.TrackballControls(camera, renderer.domElement);
  controls.rotateSpeed = 1.0;
  controls.zoomSpeed = 1.2;
  controls.panSpeed = 0.8;

  // variables for cubes
  var x = ({{grid[0]|length}}* 1.5 /2  ) * -1;
  var y = 0;
  var hash_counter = 0;
  const cubes = [];
  let rotation = 0.005;
  let rotatining  = true;

  // Initialize 3js Background
  const loader = new THREE.TextureLoader();
  const bgtexture = loader.load('./static/bg_files/bg2.jpg.jpg');
  scene.background = bgtexture;

  // Initialize 3js Interaction
  let mouseDown = false;
  let selectedCube = null;
  let lastMouseX = 0;
  let lastMouseY = 0;

  // Mousedown Raycaster to select cube
  renderer.domElement.addEventListener('mousedown', (event) => {
  mouseDown = true;
  const raycaster = new THREE.Raycaster();
  const mouse = new THREE.Vector2();
  mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
  mouse.y = -(event.clientY / window.innerHeight) * 2 + 1;
  raycaster.setFromCamera(mouse, camera);

  // Filter out non-cube objects
  const cubesI = scene.children.filter(obj => obj.userData.isCube);
  const intersects = raycaster.intersectObjects(cubesI, true);
  if (intersects.length > 0) {
  selectedCube = intersects[0].object.parent;
  }
  });

  // Spin the cubes
  renderer.domElement.addEventListener('mousemove', (event) => {
  if (mouseDown && selectedCube !== null) {
  const deltaX = event.clientX - lastMouseX;
  const deltaY = event.clientY - lastMouseY;
  const deltaRotationQuaternion = new THREE.Quaternion()
  .setFromEuler(new THREE.Euler(deltaY * (Math.PI / 180),deltaX * (Math.PI / 180),0,'XYZ'));
  selectedCube.quaternion.multiplyQuaternions(deltaRotationQuaternion, selectedCube.quaternion);
  }
  lastMouseX = event.clientX;
  lastMouseY = event.clientY;
  });

  // Deselect Cube
  renderer.domElement.addEventListener('mouseup', () => {
  mouseDown = false;
  selectedCube = null;
  });


  //Camera Arrow Controls
  camera.position.z = 10;

  index_x = 0;
  index_y = 0;
  // Generate Cubes
  {% for row in grid %}
    {% for col in row %}

      addNewCube(scene, "["+index_x+"]["+{{loop.index0}}+"]", "{{col}}", {{loop.index0}}, y)

    {% endfor %}

    y-=2;
    index_x += 1;
  {% endfor %}


  // Initalize Animate Loop
  function animate() {
  requestAnimationFrame(animate);
  controls.update();
  for (let i = 0; i < cubes.length; i++) {
  cubes[i].rotation.x += rotation;}
  renderer.render(scene, camera);
  }


  // Stop/Start Animate Loop
  const stopButton = document.getElementById("stopButton");
  stopButton.addEventListener("click", function () {
  if(rotation == 0){
    rotation = .005;
    document.getElementById('stopButton').innerHTML = "Stop";
  }
  else{
    rotation = 0;
    document.getElementById('stopButton').innerHTML = "Start";
  }

  for (let i = 0; i < cubes.length; i++) {
  cubes[i].rotation.x = rotation;
  }
  });
  // Start the animation
  const requestID = requestAnimationFrame(animate);
</script>
{% endblock %}
