{% extends "layout.html" %} {% block title %} Linked {% endblock %} {% block
main %}

<div id="canvas">
  <div id="main" class="flex-col">
    <form action="/linked_list" method="post">
      <h1 class="m-1" id="title">Linked List</h1>

      <div id="dataDiv" style="display: block">
        <div class="m-1">
          <label for="table" id="about">About Me:</label>
        </div>
        <textarea
          type="text"
          id="table"
          name="table"
          disabled
          class="m-1"
          rows="4"
          cols="35"
        >
- Organize data in a specific order.&#13;&#10;- Dynamic resizing can be useful.&#13;&#10;- Less efficient than arrays for accessing elements in a specific order or index. </textarea
        >
      </div>

      <div>
        <button
          id="csvButton"
          class="btn btn-outline-secondary dropdown-toggle m-1"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Select Dataset
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              id="csv_file"
              class="dropdown-item"
              href="#"
              onclick="loadCSV('sample_5.csv'), showDataField()"
              >sample_5</a
            >
          </li>
          <li>
            <a
              id="csv_file"
              class="dropdown-item"
              href="#"
              onclick="loadCSV('sample_10.csv'), showDataField()"
              >sample_10</a
            >
          </li>
          <li>
            <a
              id="csv_file"
              class="dropdown-item"
              href="#"
              onclick="loadCSV('sample_20.csv'), showDataField()"
              >sample_20</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              onclick="showUploadField(), showDataField()"
              >Upload .csv</a
            >
          </li>
        </ul>
      </div>

      <button
        id="stopButton"
        class="btn btn-outline-secondary m-1"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        onclick="hideGoButton()"
        style="display: inline-block; margin-bottom: 10px"
      >
        Stop
      </button>
      <button
        id="goButton"
        type="submit"
        onclick="showStopField()"
        class="btn btn-outline-secondary"
        disabled
        style="display: inline-block"
      >
        GO!
      </button>

      <div id="uploadDiv" style="display: none">
        <input type="file" accept=".csv" id="csvfile" class="m-1" />
      </div>
    </form>
  </div>
</div>

<script src="/static/script.js"></script>
<script>
  // variables for cubes
  var x = ({{array|length}}* 1.5 /2  ) * -1;
  const cubes = [];
  let rotation = 0.005;
  let rotatining  = true;

  // Generate Cubes
  {% for item in array %}
  addNewCube(scene,"Node{{loop.index - 1 }}","{{item}}", x, 0);
  x+= 1.5;
  {%endfor%}

  //Generate Lines
  {% for num in range(array|length - 1)  %}
  drawLines(cubes, [{{num}},{{num}} + 1]);
  {% endfor %}

  // Initalize Animate Loop
  function animate() {
  requestAnimationFrame(animate);
  controls.update();
  for (let i = 0; i < cubes.length; i++) {
    cubes[i].rotation.x += rotation;}
    renderer.render(scene, camera);
  }

  // Stop/Start Animate Loop
  const stopButton = document.getElementById("stopButton");
  stopButton.addEventListener("click", function () {
  if(rotation == 0){
    rotation = .005;
    document.getElementById('stopButton').innerHTML = "Stop";
  }
  else{
    rotation = 0;
    document.getElementById('stopButton').innerHTML = "Start";
  }

  for (let i = 0; i < cubes.length; i++) {
    cubes[i].rotation.x = rotation;
  }
  });

  // Start the animation
  const requestID = requestAnimationFrame(animate);
</script>
{% endblock %}
